:root {
  /* Shadows */
  --lh-shadow-1: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --lh-shadow-2: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --lh-shadow-3: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --lh-shadow-4: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --lh-shadow-5: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

  /* Focus Ring */
  --lh-focus-ring: 0 0 0 3px var(--lh-c-brand-1-200);
  --lh-focus-ring-offset: 2px;

  /* Transitions */
  --lh-transition-fast: 150ms;
  --lh-transition-base: 250ms;
  --lh-transition-slow: 350ms;
  --lh-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --lh-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --lh-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --lh-transition-colors: var(--lh-transition-base) ease-in-out;
  --lh-transition-transform: var(--lh-transition-base) var(--lh-ease-in-out);
  --lh-transition-opacity: var(--lh-transition-base) var(--lh-ease-in-out);
  --lh-transition-all: all 0.3s ease-in-out;

  /* Z-Index */
  --lh-z-negative: -1;
  --lh-z-elevate: 1;
  --lh-z-sticky: 100;
  --lh-z-header: 200;
  --lh-z-dropdown: 300;
  --lh-z-modal: 400;
  --lh-z-toast: 500;
  --lh-z-tooltip: 600;
} 