
/* Scrollbar Styles */
::-webkit-scrollbar {
  width: var(--alt-space-2);
  height: var(--alt-space-2);
}

::-webkit-scrollbar-track {
  background: var(--alt-c-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--alt-c-scrollbar-thumb);
  border-radius: var(--alt-radius-full);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--alt-c-scrollbar-thumb-hover);
} 

.mobile {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
}