:root {
  /* Font Family */
  --alt-font-family-base: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --alt-font-family-heading: 'Roboto Slab', serif;
  --alt-font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;

  /* Font Size */
  --alt-font-size-initial: 15px;
  font-size: var(--alt-font-size-initial);
  --alt-font-size-000: 0.625rem;    /* 10px */
  --alt-font-size-00: 0.75rem;    /* 12px */
  --alt-font-size-0: 0.875rem;   /* 14px */
  --alt-font-size-1: 1rem;     /* 16px */
  --alt-font-size-2: 1.125rem;   /* 18px */
  --alt-font-size-3: 1.25rem;    /* 20px */
  --alt-font-size-4: 1.5rem;    /* 24px */
  --alt-font-size-5: 1.875rem;  /* 30px */
  --alt-font-size-6: 2.25rem;   /* 36px */

  /* Line Height */
  --alt-line-height-0: 1.1;
  --alt-line-height-1: 1.25;
  --alt-line-height-2: 1.5;
  --alt-line-height-3: 1.75;
  --alt-line-height-4: 2;

  /* Font Weight */
  --alt-font-weight-light: 300;
  --alt-font-weight-regular: 400;
  --alt-font-weight-medium: 500;
  --alt-font-weight-semibold: 600;
  --alt-font-weight-bold: 700;

  /* Letter Spacing */
  --alt-letter-spacing-tight: -0.025em;
  --alt-letter-spacing-normal: 0;
  --alt-letter-spacing-wide: 0.025em;
} 