/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p, li {
  text-wrap: pretty;
}

/* Lists */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Media */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Forms */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--alt-c-border);
}

button {
  background-image: none;
  cursor: pointer;

  &:enabled {
    cursor: pointer;
  }

  &:focus {
    outline: var(--alt-focus-ring);
    outline-offset: var(--alt-focus-ring-offset);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

input,
textarea {
  &::placeholder {
    color: var(--alt-c-text-3);
  }

  &:focus {
    outline: var(--alt-focus-ring);
    outline-offset: var(--alt-focus-ring-offset);
  }
}

/* Remove number input spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}

select {
  appearance: none;
} 